{% extends "base.html" %}
{% load static %}

<head>
    {% block css_static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    {% endblock %}
    {% block js_static %}
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    {% endblock %}
</head>
<body>
{% block page %}

        <div style="height: 100px; background-color: #ebe4eb; padding: 10px 25px;">
            {% block search %}
            {% endblock %}
        </div>
        <div  class="container-fluid" style="height: 450px; background-color: #f9f2f4;padding: 30px 45px">
            {% block list %}
            {% endblock %}
        </div>
{% endblock %}
</body>
